<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Board Selection</title>
        <link rel="stylesheet" href="/normalize.css">
        <link rel="stylesheet" href="/skeleton.css">
        <link rel="stylesheet" href="/style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        
    </head>
    <body>
          <h1>Board Selection</h1>
         <div class="dropdown">
  <span>Select a Board</span>
  <div class="dropdown-content">
    <p><a href="/messages"> Public Chat </a></p>
  </div>
</div>
<br>
 <h2>  Create a new Board </h2>
        <form action="/messages" method="POST">
            Name: <input type="text" name="user" default="${Stranger} has enterd the chat" /> <br>
            Message: <input type="text" name="message" default="${userName} has enterd the chat" /><br/>
              Board: <input type="text" name="board" /><br/>
       <input type="submit" name="" value="Open Board"/>

              <ul>
              <li> <a href="/messages"> Public Chat (fix) </a> </li>
                <li> <a href="/messages"> MyFeed </a> </li>
              </ul>    
           
     
        </form>
    </body>
    </div>

    
    </div>
    </body>
</html>