<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Board Selection</title>
        <link rel="stylesheet" href="/normalize.css">
        <link rel="stylesheet" href="/skeleton.css">
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <div class="container">
            <div class="banner">     <h1>Select a Board</h1></div>

            DISPLAY boards
            <li>Public Board</li>
           <li>Create Private</li>
           <li>My Boards</li>
            -
        <form action="/messages" method="POST">
            New Board: <input type="text" name="boardName" /><br/>
            Password: <input type="number" name="boardPass" /><br/>
            
            <input type="submit" name="" value="boards"/>
        </form>


    
    </div>
    </body>
</html>