<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
           <link rel="stylesheet" href="/normalize.css">
        <link rel="stylesheet" href="/skeleton.css">
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
     
    <div class="container" style="height: 50%;">
      <!-- <form action="/action_page.php"> -->
        <div class="row">
          <br>
          <h2 style="text-align:center"> QuaranTeam </h2>
     
          <label id="lblGreetings"></label>

          <script>
              let myDate = new Date();
              let hrs = myDate.getHours();
          
              let greet;
          
              if (hrs < 12)
                  greet = 'Good Morning, Jeffrey!';
              else if (hrs >= 12 && hrs <= 17)
                  greet = 'Good Afternoon, Jeffrey!';
              else if (hrs >= 17 && hrs <= 24)
                  greet = 'Good Evening, Jeffrey!';
          
              document.getElementById('lblGreetings').innerHTML =
                  '<b>' + greet + '</b>';
                      
          </script> 
    
          <div class="col">
          
    <form action="">
            <input type="text" name="userName" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password"  required>
            <input type="submit" value="Login"><br>
             <!-- socket.on('change_username', (data) => {
              socket.username = data.username  -->
         
         </form>

           
    <div class="bottom-container">
      <div class="row">
        <div class="col">
          <a href="/messages/login" style="color:blue" class="btn">Sign up</a>
        </div>
        <div class="col">
          <a href="/messages/login" style="color:blue" class="btn">Forgot password?</a>
        </div>
      </div>
    </div>
        <!-- <button class=".btn5">Hack Mainframe</button> -->
          </div>
    
        </div>

    </div>
 
  
         
            <a href="/messages/boards">Boards</a> <br>
            
            <a href="/messages">Dev Login</a> <br>
     
     
    </body>
</html>