<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
          <link rel="stylesheet" href="/normalize.css">
    <link rel="stylesheet" href="/skeleton.css">
    <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <div class="container"> <label id="lblGreetings"></label>
               CodeNoodle Forum
     
   
          <script>
              let myDate = new Date();
              let hrs = myDate.getHours();
          
              let greet;
          
              if (hrs < 12)
                  greet = 'Good Morning, Jeffrey!';
              else if (hrs >= 12 && hrs <= 17)
                  greet = 'Good Afternoon, Jeffrey!';
              else if (hrs >= 17 && hrs <= 24)
                  greet = 'Good Evening, Jeffrey!';
          
              document.getElementById('lblGreetings').innerHTML =
                  '<b>' + greet + '</b>';
                      
          </script> 
    
            <form action="/messages" method="POST">
        <label for="UserName">Username:</label>     <input type="text" name="name" /><br/> 
                <label for="password">Password:</label>
               <input type="password" id="fname" name="fname"><br>
                <input type="submit" name="name" value="Login as User"/>
        <br>   <button class="bigred" type=""> <a href="/messages">
        
     <br>  <br> <br> HACK MAINFRAME</a> </button><br>
         </div>
    </body>
</html>